extends layout

block content
  h1 Simple-contacts-REST

  h2 demo
  p You can check an example of all the API methods and its response here:
  p
    a(href="example.txt") Response and path example
  p Also you can have a look at a more complete example that includes fully qualified example requests:
  p
    a(href="example-REQ-RES.txt") Request and response example

  p Source code
  p
    a(href="http://github.com/yetto/simple-contacts-rest") Github Repo
